html, body {
	color: red !important;
	background: white !important;
}
body > * {
	display: none !important;
}
body::before {
	content: "\a Parser error! Unexpected \"none;\" in:\a file: /Volumes/Documentos/www/stylecow/stylecow-core/tests/cases/errors/input.css\a line: 2\a col:  13";
	font-family: monospace;
	white-space: pre;
	display: block;
	padding: 20px;
}